<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="rcError"/>
  </system.web>
  <connectionStrings/>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.cshtml"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <mimeMap fileExtension=".cshtml" mimeType="text/html"/>
    </staticContent>
  </system.webServer>
</configuration>