@{
    if ( Session["userID"] == null ) {
        var pageName = Request.Url.ToString().Substring( Request.Url.ToString().LastIndexOf( '/' ) + 1 );

        Response.Redirect( "~/?ReturnURL=" + pageName );
    }

    int groupID = int.Parse( Request["id"] );
    var user = ( int ) Session["userID"];
    var name = ( string ) Session["name"];
    Validation.Add( "email", Validator.Regex( @"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$", "Invalid format for an email address" ) );

    var userMail = Request["email"];
    var db = Database.Open( "GP" );
    var sqlSelect = "SELECT * from rc_groups WHERE groupID=@0";
    var g_data = db.QuerySingle( sqlSelect, groupID );


    if ( IsPost ) {
        var em = Request["email"];
        sqlSelect = "SELECT rcUser FROM rc_UserLogin WHERE email=@0";
        var data = db.QuerySingle( sqlSelect, em );

        

        if ( data != null ) {
            sqlSelect = "INSERT INTO rc_UserGroups(groupID, userName) VALUES (@0, @1)";
            db.Execute( sqlSelect, groupID, data.rcUser );

        } else {
            // Initialize WebMail helper
            WebMail.SmtpServer = /*"smtp-mail.outlook.com";*/ "smtp.live.com";
                WebMail.SmtpPort = 587; /*25;*/
                WebMail.EnableSsl = true;
                WebMail.UserName = "jodrive@outlook.com";
                WebMail.Password = "heiderhofring16a";
                WebMail.From = "jodrive@outlook.com";

            sqlSelect = "SELECT * FROM rc_Requests";
            var reqData = db.Query( sqlSelect );

            int requestID;
            Random random = new Random();
            bool found = false;
            while ( true ) {
                requestID = random.Next();

                foreach ( var item in reqData ) {
                        if ( item.id == requestID ) {
                            found = true;
                            break;
                        }
                    }
                    if(found){
                        continue;
                    }

                break;
            }

            sqlSelect = "INSERT INTO rc_Requests(id, groupID, date) VALUES(@0, @1, @2)";
            db.Execute( sqlSelect, requestID, groupID, String.Format(System.Globalization.DateTimeFormatInfo.InvariantInfo, "{0:G}", DateTime.Now ) );


            sqlSelect = "SELECT * FROM rc_groups WHERE groupID=@0";
            var groupData = db.QuerySingle( sqlSelect, groupID );
            var link = "http://localhost:12633/signup?reqID=" + requestID;

            // Send email
            WebMail.Send( to: userMail,
            subject: "Come and work on a project on JoDrive",
            body: groupData.owner + " asks you to join his group to work on his project with him\n"
            + "Project Name: " + groupData.groupName + "\n"
            + "Project Description: " + groupData.description + "\n"
            + "Date Created: " + groupData.date + "\n"
            + "\n\n"
            + "click on this link to sign up for a free JoDrive account and start working" + "\n"
            + "\n\t" + "<a href=\"" + link + "\">" + link + "</a> \n"
            + "\nThis invitation request will expire after 1 month" + "\n\n\n\n\n\nJoDrive" );




        }



    }


}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/rcLayouts/default/css/table.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/bootstrap.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/carousel.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/forms.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <fieldset style="background-color: #E5E5E5; ">

        <p style="padding-top: 1em">
            <span style="padding-left: 0.9em; font-size: 16px"><strong>Group Name:</strong> @g_data.groupName</span>
            <span style="padding-left: 2em; font-size: 16px"><strong>Owner:</strong> @if ( g_data.ownerID == user ) { <text>You</text> } else { @name }</span>
            <span style="padding-left: 2em; font-size: 16px"><strong>Date Created:</strong> @g_data.date</span>
        </p>
    </fieldset>
    <fieldset>
        <form action="" method="post">
            <p>
                <label for="email">Email</label><br>
                <input type="text" name="email" @Validation.For( "email" ) id="email"> @Html.ValidationMessage( "email" )
            </p>

            <p>
                <input type="submit" name="btn" value=" Add ">
            </p>
        </form>

    </fieldset>
</body>
</html>
