@{ 
    if(Session["userName"] == null){
        Response.Redirect("~/");
    }

    var db = Database.Open( "GP" );
    var sqlSelect = "Select * From rc_groups Where groupID In (Select groupID From rc_UserGroups where userName=@0)";
    var data = db.Query(sqlSelect, (string) Session["userName"]);    
 }

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
         <link href="~/rcLayouts/default/css/table.css" rel="stylesheet" />
         <link href="~/rcLayouts/default/css/bootstrap.css" rel="stylesheet" />
         <link href="~/rcLayouts/default/css/carousel.css" rel="stylesheet" />
        <title></title>
    </head>
    <body>
     

       @if ( data != null ) 
       {
           <div class="table" >
           <table>

               <colgroup>
                 <col span="1" style="width: 45%;">
                 <col span="1" style="width: 30%;">
                 <col span="1" style="width: 25%;">
                 <col span="1" style="width: 5%;">
              </colgroup>
                   <tr>
                       <th style="border-left: none"> NAME </th>
                       <th> OWNER </th>
                       <th> MODIFIED </th>
                   </tr>
           @foreach ( var item in data ) 
           {
                   <tr>
                       <td style=" border-left:1px solid #d7d7d7;border-left-width: thick; border-left-color: #96C4E3">
                        <a href="files?id=@item.groupID">@item.groupName</a></td>
                       <td> @item.owner</td>
                       <td >blahh</td>
                  
                       @if (item.owner == (string) Session["userName"])
                       {
                           {<td><img src="~/rcLayouts/default/images/admin.png" alt="Admin" height="19" width="19"></td>}
                       }
                       else
                       {
                           <td></td>
                       }
                       
                   </tr>
           }
            </table>
          </div> 
        }
    </body>
</html>
