@{
    if ( Session["userID"] == null ) {
        var pageName = Request.Url.ToString().Substring( Request.Url.ToString().LastIndexOf( '/' ) + 1 );

        Response.Redirect( "~/?ReturnURL=" + pageName );
    }

    var db = Database.Open( "GP" );
    var sqlSelect = "Select * From rc_groups Where groupID In (Select groupID From rc_UserGroups where userID=@0)";
    var data = db.Query( sqlSelect, ( int ) Session["userID"] );

    var name = string.Empty;
   

}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/rcLayouts/default/css/table.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/bootstrap.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/carousel.css" rel="stylesheet" />
    <title></title>
</head>
<body>


    @if ( data != null ) {

        <div class="table">
            <table>

                <colgroup>
                    <col span="1" style="width: 45%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 5%;">
                </colgroup>
                <tr>
                    <th style="border-left: none"> NAME </th>
                    <th> OWNER </th>
                    <th> MODIFIED </th>
                </tr>
                @foreach ( var item in data ) {
                    <tr>
                        @{
                           string groupName = string.Empty;
                           if(item.groupName.Length >= 47)
                           {
                               groupName = item.groupName.Substring(0, 40) + "...";

                           }else{
                               groupName = item.groupName;

                           }

                       }
                        <td style=" border-left:1px solid #d7d7d7;border-left-width: thick; border-left-color: #96C4E3">
                            <a href="files?id=@item.groupID">@groupName</a>
                        </td>
                        <td>
                            @{
                                sqlSelect = "SELECT * FROM rc_UserLogin WHERE userID=@0";
                                var user_data = db.QuerySingle( sqlSelect, item.ownerID );
                                name = user_data.firstName + " " + user_data.lastName;
                            }
                            @name
                        </td>
                        <td>@item.date</td>

                        @if ( item.ownerID == ( int ) Session["userID"] ) {
                            <td><img src="~/rcLayouts/default/images/admin.png" alt="Admin" height="19" width="19"></td>

                        } else {
                            <td></td>
                        }

                    </tr>
                }
            </table>
        </div>
    }
</body>
</html>
