@using Microsoft.Web.Helpers;
@{

    if ( Session["userName"] == null ) {
        var pageName = Request.Url.ToString().Substring( Request.Url.ToString().LastIndexOf( '/' ) + 1 );

        Response.Redirect( "~/?ReturnURL=" + pageName );
    }

    var groupId = Request["id"];

    var fileName = "";
    if ( IsPost ) {
        var fileSavePath = "";
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        fileSavePath = Server.MapPath("~/UploadedFiles/" + groupId.ToString() + "/" + fileName);
        uploadedFile.SaveAs(fileSavePath);

        var db = Database.Open( "GP" );
        var sqlSelect = "SELECT * FROM rc_Files";
        var data = db.Query(sqlSelect);

        int fileID;
        Random random = new Random();
        while ( true ) {
            fileID = random.Next();

            foreach ( var item in data ) {
                if ( item.fileID == fileID ) {
                    continue;
                }
            }

            break;
        }

        sqlSelect = "INSERT INTO rc_Files(fileID, fileName, filePath, groupID, date, currentOwner) VALUES (@0, @1, @2, @3, @4, @5)";
        db.Execute( sqlSelect, fileID, fileName, fileSavePath, groupId, (string)Session["userName"],
                            DateTime.Now.ToShortDateString() + " " + DateTime.Now.ToShortTimeString() );

    }

    /*
        var message = "";
    if ( IsPost ) {
        var fileName = "";
        var fileSavePath = "";
        int numFiles = Request.Files.Count;
        int uploadedCount = 0;
        for ( int i =0; i < numFiles; i++ ) {
            var uploadedFile = Request.Files[i];
            if ( uploadedFile.ContentLength > 0 ) {
                fileName = Path.GetFileName( uploadedFile.FileName );
                fileSavePath = Server.MapPath( "~/UploadedFiles/" + groupId.ToString() + "/" + fileName );
                uploadedFile.SaveAs( fileSavePath );
                uploadedCount++;
            }
        }
        message = "File upload complete. Total files uploaded: " +
        uploadedCount.ToString();
    }
    */
}
<!DOCTYPE html>
<html>
<head>
    <title>Upload File(s)</title>
</head>
<body>
    <form id="myForm" method="post"
          enctype="multipart/form-data"
          action="">
<div>
            <h1>Upload File(s)</h1>
                    
    <div class="file-upload" id="file-upload-0">
            <div>
                <p>
                <input name="fileUpload" type="file">
                </p>
                
            </div>
    </div>

        <div class="file-upload-buttons">
            <input type="submit" value="Upload"> <span style="padding-left: 1em"><a href="~/files?id=@groupId">or return to the group</a></span>
        </div>
        
    @if (IsPost) {
            <span>File uploaded!</span><br>
}
        </div>      




@*  
        <div>
            <h1>Upload File(s)</h1>
            @FileUpload.GetHtml()
        initialNumberOfFiles:1,
        allowMoreFilesToBeAdded:false,
        includeFormTag:true,
        uploadText:"Upload")
        @if (IsPost) {
            <span>File uploaded!</span><br/>
        }
        </div>
    *@
    </form>
</body>
</html>