@using Microsoft.Web.Helpers;
@{
    var fileName = "";
    int groupId = 10;
    
    if (IsPost) {
        var fileSavePath = "";
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        
        fileSavePath = Server.MapPath( "~/groupFiles/" + groupId.ToString() + "/" + fileName);
        uploadedFile.SaveAs(fileSavePath);


    }
}
<!DOCTYPE html>
<html>
    <head>
    <title></title>
    </head>
    <body>
    <h1>FileUpload - Single-File Example</h1>
    @FileUpload.GetHtml(
        initialNumberOfFiles:1,
        allowMoreFilesToBeAdded:false,
        includeFormTag:true,
        uploadText:"Upload")
    @if (IsPost) {
        <span>File uploaded!</span><br/>
    }
    </body>
</html>